<dialog open hx-disable class="rounded-md shadow-md bg-stone-400 backdrop:bg-gray-500 backdrop:bg-opacity-50 top-32 w-[calc(100%-10rem)]">
  
  <p> 
    <span>
        <button class="float-end pr-1 text-red-700"autofocus>X</button>
    </span>
  </p>
  <form  method="dialog" hx-disable class="flex flex-col items-center  justify-center  z-50">
    <a hx-disable href="/sso/spotify" class="bg-green-400 max-w-96 rounded-lg text-slate-900 p-1">Login to Spotify</a>

    
  </form>
</dialog>
<script src="{{ url_for('static', path='/js/dialog.js') }}"></script>