<nav class="flex justify-between bg-teal-900 pt-2 pb-2 drop-shadow-md w-full pr-8 text-slate-300">
  <a href="/" class="font-serif font-bold tracking-wide text-3xl inline pl-2">Spotify Playlist Generator</a>
  <ul class="inline-flex flex-row justify-end gap-4">
    <li class="tracking-tighter text-center"><a href="/price" class="inline text-center">Price</a></li>
        
    <!--<button hx-get="/auth/me" hx-target="#result" hx-swap="innerHTML" hx-trigger="click">Login</button>-->
  </ul>
</nav>