
<div class="h-screen grid grid-cols-4 grid-rows-4 gap-4 ">

    {% for item in response['items'] %}
    <form hx-post="/spotify">
        <a href="{{item['uri']}}">
            <div class="place-self-center drop-shadow-lg bg-gray-400 mt-4 mr-2 ml-2 pl-4 pr-4 pb-4">
                <span class="text-stone-300">
                    <img  src="{{item['images'][0]['url']}}" height="50" width="50" alt="spotify_playlist_img">
                    <p>{{item['name']}}</p>
                    
                </span>
            </div>
        </a>
        <input type="hidden" value="{{item['id']}}" name="id">
        <button type="submit">Submit</button>
    </form>
    {% endfor %}
</div>