
<div class="h-screen grid grid-cols-4 grid-rows-4 gap-4 mt-4">

    {% for item in response %}
    <div class="pt-4" hx-get="/spotify/playlist/{{item['id']}}">
        <a href="{{item['uri']}}">
            <div class="place-self-center drop-shadow-lg bg-gray-400 ">
                <span class="text-stone-300">
                    <img  src="{{item['images'][0]['url']}}" height="50" width="50" alt="spotify_playlist_img">
                    <p class="break-words">{{item['name']}}</p>
                    
                </span>
                <input type="hidden" value="{{item['id']}}" name="id">
                <a href="/spotify/playlist/{{item['id']}}" >More Details</button>
            </div>
        </a>
    </div>
    {% endfor %}
</div>